/* SuperheroCards.css */

/* Define styles for the container holding the superhero cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

/* Define styles for individual superhero cards */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: transform 1s, box-shadow 1s;
  box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
  background-color: #8DDFCB;
}

/* Add hover effects to superhero cards */
.card:hover {
  z-index: 1111;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

/* Define styles for the container of superhero images */
.card .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: transform 1s;
}

/* Style superhero images */
.card .img-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Add hover effect for the image container */
.card:hover .img-container {
  transform: rotateY(-135deg);
}

/* Define styles for superhero card details */
.card .card-details {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
}

/* Style superhero card details headings */
.card .card-details h2 {
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 2em;
  color: #ed363a;
}

/* Style superhero card details paragraphs */
.card .card-details p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 1.1em;
}

/* Style GitHub link on the card */
.card .github {
  position: absolute;
  top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}
